.about {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 2rem 2rem 0;
}

.about .intro {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 12rem;
}

.intro div {
    width: 50%;
}

.intro div p {
    font-size: 1.5rem;
    line-height: 1.6;
}

.about .career {
    display: flex;
    /* align-items: center; */
    justify-content: center;
    gap: 5rem;
}

.career div {
    width: 50%;
}

.career div h1 {
    font-size: 2.5rem;
    margin-bottom: 1rem;
}

.career div p {
    font-size: 1.2rem;
    line-height: 2.5;
}

.topics {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
    gap: 1rem;
    padding: 1rem;
    background-color: #f8f9fa;
    border-radius: 12px;
    text-align: center;
}

.topics h2 {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #e0e0e0;
    padding: 1rem;
    border-radius: 8px;
    font-size: 1.2rem;
    transition: background-color 0.3s ease;
}

.topics h2:hover {
    background-color: #d1d1d1;
}

.experience {
    display: flex;
    flex-direction: column;
    margin-top: 5rem;
}

.experience .experienceIntro {
    width: 100%;
}

.experience h1 {
    font-size: 2rem;
    margin-bottom: 1rem;
}

.experience p {
    font-size: 1.2rem;
    line-height: 1.6;
}

.experienceTopics {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 1rem;
    margin-top: 2rem;
}

.experienceTopic {
    background-color: #f0f0f0;
    padding: 1rem;
    border-radius: 8px;
    width: 250px;
    text-align: center;
}

@media (max-width: 1200px) {
    .about .intro {
        flex-direction: column;
        align-items: center;
    }

    .intro div {
        width: 80%;
        text-align: center;
    }

    .career {
        flex-direction: column;
        align-items: center;
    }

    .career div {
        width: 80%;
        text-align: center;
    }

    .topics {
        grid-template-columns: repeat(auto-fit, minmax(120px, 1fr));
    }

    .experienceTopics {
        flex-direction: column;
        align-items: center;
    }
}

@media (max-width: 768px) {
    .about .intro {
        flex-direction: column;
        align-items: center;
    }

    .intro div {
        width: 100%;
        text-align: center;
    }

    .career {
        flex-direction: column;
        align-items: center;
    }

    .career div {
        width: 100%;
        text-align: center;
    }

    .topics {
        grid-template-columns: repeat(auto-fit, minmax(120px, 1fr));
    }

    .topics h2 {
        font-size: 1rem;
    }

    .experienceTopics {
        flex-direction: column;
        align-items: center;
    }

    .experienceTopic {
        width: 100%;
        max-width: 300px;
    }

    .experience h1 {
        font-size: 1.5rem;
    }

    .experience p {
        font-size: 1rem;
        line-height: 1.4;
    }
}

@media (max-width: 576px) {
    .about {
        padding: 2rem;
    }

    .about .intro {
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .intro div h1 {
        font-size: 1.5rem;
        margin-bottom: 1rem;
    }

    .intro div p {
        font-size: 1rem;
        line-height: 1.3;
        margin-bottom: 2rem;
    }

    .about .career p {
        font-size: 1rem;
        line-height: 1.5;
    }

    .profileImage {
        width: 100%;
        height: auto;
        border-radius: 30px;
    }

    .topics h2 {
        font-size: 12px;
    }

    .experienceTopic {
        width: 100%;
        max-width: 100%;
        padding: 0.5rem;
    }

    .experience h1 {
        font-size: 1.5rem;
    }

    .experience p {
        font-size: 1rem;
        line-height: 1.4;
        text-align: center;
    }

    .experienceTopics {
        flex-direction: column;
        align-items: center;
    }

    .experienceTopic {
        width: 100%;
        max-width: 300px;
    }
}
