.content {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5rem;
}

.content .info {
    width: 50%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: left;
}

.info h1 {
    font-size: 4.5rem;
    margin-bottom: 1rem;
}

.info h5 {
    font-size: 1.5rem;
    margin-bottom: 2.5rem;
}

.info p {
    font-size: 1.5rem;
    line-height: 1.5;
}

.content .my-image {
    width: 30%;
    border-radius: 50%;
}

.footer {
    margin-top: 2rem;
    text-align: center;
    font-size: 1rem;
    color: #666;
}

@media (max-width: 1200px) {
    .content {
        flex-direction: column;
        align-items: center;
    }

    .content .info {
        width: 80%;
        text-align: center;
    }

    .info h1 {
        font-size: 4rem;
    }

    .info h5 {
        font-size: 1.4rem;
    }

    .info p {
        font-size: 1.3rem;
    }

    .content .my-image {
        width: 50%;
    }
}

@media (max-width: 768px) {
    .content {
        display: flex;
        flex-direction: column;
        gap: 2rem;
    }

    .content .info {
        width: 100%;
        text-align: center;
    }

    .info h1 {
        font-size: 3.5rem;
    }

    .info h5 {
        font-size: 1.3rem;
    }

    .info p {
        font-size: 1.2rem;
    }

    .content .my-image {
        width: 40%;
    }
}

@media (max-width: 576px) {
    .content {
        flex-direction: column;
        align-items: center;
        text-align: center;
    }

    .content .info {
        width: 100%;
    }

    .info h1 {
        font-size: 3rem;
    }

    .info h5 {
        font-size: 1.2rem;
    }

    .info p {
        font-size: 1rem;
    }

    .content .my-image {
        width: 50%;
        margin-top: 2.5rem;
    }

    .footer {
        margin-top: 2rem;
        text-align: center;
        font-size: 1rem;
        color: #666;
    }
}
