* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Nunito", Arial, Helvetica, sans-serif;
}

a:any-link {
    text-decoration: none;
    color: inherit;
}

body {
    width: 100%;
    min-height: 100vh;
    padding: 0 5rem;
}

.app {
    display: flex;
    align-content: center;
    justify-content: center;
    flex-direction: column;
}

@media (max-width: 768px) {
    .app {
        padding: 0 1.5rem;
    }
}

@media (max-width: 576px) {
    body {
        padding: 0 1rem;
    }
    
    .app {
        padding: 0 1rem;
    }
}
